body {
    padding: 30px;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 {
  color: #000;
  font-weight: 700;
}

a {
  color: #fbbc1f;
  text-decoration: none;
}

#addressQuery {
	color:#7A8872;
	padding:10px;
	width: 40%;
	font-size: 1.2em;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.number {
  font-weight: 700;
  font-size: 300%;
  margin-right: 10px;
}

li {
   line-height: 2em;
   margin-left: 30px;
}

@media print 
{
    .noPrint 
    {
        display:none;
    }
    
    .sources {
      font-size: xx-small;
    }
}